<div class="ui two column stackable grid">
    {{ form_errors(form) }}
    <div class="column">
        <div class="ui segment">
            <h4 class="ui dividing header">Add Supplier</h4>
                {{ form_row(form.name) }}
                {{ form_row(form.description) }}
                {{ form_row(form.enabled) }}
        </div>
    </div>
</div>
