{% if data.jobNumber is not null %}
    {{ data.materialCode.matGroup}}  
{% else %}
    <span class="ui icon label">
        <i class="spy icon"></i> {{ 'sylius.ui.guest'|trans }}
    </span>
{% endif %}
