<div class="ui two column stackable grid">
    {{ form_errors(form) }}
    <div class="column">
        <div class="ui segment">
            <h4 class="ui dividing header">Add Supplier</h4>
                {{ form_row(form.jobNumber, {'attr': {'class': 'select2 input-xlarge', 'placeholder': 'Select jobNumber category'}}) }}
                {{ form_row(form.quantity) }}
                {{ form_row(form.date) }}
                {{ form_row(form.time) }}
                {{ form_row(form.person) }}
                {{ form_row(form.status) }}


   {% for Job in form.jobNumber %}
                {{ form_row(job, {'attr': {'class': 'select2 input-xlarge', 'placeholder': 'Select jobNumber'}}) }}
            {% endfor %}


        </div>
    </div>
</div>
