 <section class="hero-wrap text-center relative">
        <div id="owl-hero" class="owl-carousel owl-theme light-arrows slider-animated">
          <div class="hero-slide overlay" style="background-image:url('/assets/shop/img/hero/1.jpg')">
            <div class="container">
              <div class="hero-holder">
                <div class="hero-message">
                  <h1 class="hero-title nocaps">2017 Print Design Trends</h1>
                  <h2 class="hero-subtitle lines">New Arrivals Collection</h2>
                  <div class="buttons-holder">
                    <a href="#" class="btn btn-lg btn-transparent"><span>Shop Now</span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="hero-slide overlay" style="background-image:url('/assets/shop/img/hero/2.jpg')">
            <div class="container">
              <div class="hero-holder">
                <div class="hero-message">
                  <h1 class="hero-title nocaps">Exclusive Products</h1>
                  <h2 class="hero-subtitle lines">Get awesome items only in our online shop</h2>
                  <div class="buttons-holder">
                    <a href="#" class="btn btn-lg btn-color"><span>Buy it Now</span></a>
                    <a href="#" class="btn btn-lg btn-transparent"><span>Learn More</span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="hero-slide overlay" style="background-image:url('/assets/shop/img/hero/3.jpg')">
            <div class="container">
              <div class="hero-holder">
                <div class="hero-message">
                  <h1 class="hero-title nocaps">Enjoy Online Shopping</h1>
                  <h2 class="hero-subtitle lines">Our Web Shop is perfect for you.</h2>
                  <div class="buttons-holder">
                    <a href="#" class="btn btn-lg btn-transparent"><span>Shop Now</span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section> 