<div class="ten wide column">
    <h1 class="ui header">
        <i class="circular user icon"></i>
        <div class="content">
           Suppliers
            <div class="sub header">
            Manage your Suppliers
            </div>
        </div>
    </h1>
</div>
