{% import '@SyliusUi/Macro/headers.html.twig' as headers %}



        <section class="page-title text-center bg-light">
            <div class="container relative clearfix">
                <div class="title-holder">
                    <div class="title-text">
                        <h1 class="uppercase">Shopping Cart</h1>
                        <ol class="breadcrumb">
                            <li>
                                <a href="#">Home</a>
                            </li>
                            <li>
                                <a href="#">Shop</a>
                            </li>
                            <li class="active">
                                Cart
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>




    

